

body {
    background-color: #f8f9fa!important;
}

h1 {
    font-size: 5.0rem;
}

.section {
    height: 400px; 
    max-height: 500px;
    width: 1100px;
}

.card {
    width: 100%;
}

.card-header {
    background-color: #6c757d; 
    color: white;
}

#pomodoroLogo {
    color: crimson;
}

#timerButtons {
    padding-top: 100px;
}

#authorize_button {
    display: none; 
    margin-top: 20px;
}

#signout_button {
    display: none; 
    float: right; 
    border: none; 
    padding: 0px 10px 0px 10px;
}

#listOfUpcomingEvents {
    overflow-y: auto; height: 330px;
}

#footerText {
    height: 200px; 
    background-color: white;
    padding-top: 70px;
}

.calendarFont {
    font-size: 0.9rem;
}

/* // Calendar events colors
// undefined	Who knows	#039be5	
// 1	Lavender	#7986cb	
// 2	Sage	#33b679	
// 3	Grape	#8e24aa	
// 4	Flamingo	#e67c73	
// 5	Banana	#f6c026	
// 6	Tangerine	#f5511d	
// 7	Peacock	#039be5	
// 8	Graphite	#616161	
// 9	Blueberry	#3f51b5	
// 10	Basil	#0b8043	
// 11	Tomato	#d60000 */

.googleCalColor_undefined {
    background-color: rgba(3, 152, 226, 0.357);
}
.googleCalColor_undefined_faded {
    background-color: rgba(3, 152, 226, 0.137);
}
.googleCalColor_1 {
    background-color: rgba(121, 134, 203, 0.357); 
}
.googleCalColor_1_faded {
    background-color: rgba(121, 134, 203, 0.137);  
}
.googleCalColor_2 {
    background-color: rgba(51, 182, 121, 0.357);
}
.googleCalColor_2_faded {
    background-color: rgba(51, 182, 121, 0.137);
}
.googleCalColor_3 {
    background-color: rgba(142, 36, 170, 0.357);
}
.oogleCalColor_3_faded {
    background-color: rgba(142, 36, 170, 0.137);
}
.googleCalColor_4 {
    background-color: rgba(230, 124, 115, 0.357); 
}
.googleCalColor_4_faded {
    background-color: rgba(230, 124, 115, 0.137);  
}
.googleCalColor_5 {
    background-color: rgba(246, 192, 38, 0.357);
}
.googleCalColor_5_faded {
    background-color: rgba(246, 192, 38, 0.137);
}
.googleCalColor_6 {
    background-color: rgba(245, 81, 29, 0.357);
}
.googleCalColor_6_faded {
    background-color: rgba(245, 81, 29, 0.137);
}
.googleCalColor_7 {
    background-color: rgba(3, 155, 229, 0.357);
}
.googleCalColor_7_faded {
    background-color: rgba(3, 155, 229, 0.137); 
}
.googleCalColor_8 {
    background-color: rgba(97, 97, 97, 0.357);
}
.googleCalColor_8_faded {
    background-color: rgba(97, 97, 97, 0.137);
}
.googleCalColor_9 {
    background-color: rgba(63, 81, 181, 0.357);
}
.googleCalColor_9_faded {
    background-color: rgba(63, 81, 181, 0.137);
}
.googleCalColor_10 {
    background-color: rgba(11, 128, 68, 0.357);
}
.googleCalColor_10_faded {
    background-color: rgba(11, 128, 68, 0.137);
}
.googleCalColor_11 {
    background-color: rgba(214, 0, 0, 0.357);
}
.googleCalColor_11_faded {
    background-color: rgba(214, 0, 0, 0.137);
}

